doctype html
html
    head(lang="en")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Active
        link(href="css/all.css" rel="stylesheet")
        link(href="css/fontawesome.min.css" rel="stylesheet")
        link(href="css/style.css" rel="stylesheet")
    body
        header
            img(src="images/bg.png")
            .overlay
            nav
                .container.uppercase
                    .nav-content
                        h1.text-white <span>Active</span>box
                        ul
                            li
                                a(href="#") Features
                            li
                                a(href="#") Works
                            li
                                a(href="#") Our Team
                            li
                                a(href="#") Testmonials
                            li
                                a(href="#") Download
            .container
                .header-content
                    h2.text-white  Your Favorite One Page Multi Purpose Template
                    p.text-white   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna <br> vel scelerisque nisl consectetur et.        
                    button.btn.btn-red Find out more
        section.features
            .container
                .content
                    .row.justify-evenly
                        .feat.col-12.col-sm-5.col-lg-3
                            img(src="images/u6.png")
                            h4 Easily Customised
                            p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.
                        
                        .feat.col-12.col-sm-5.col-lg-3
                            img(src="images/u2.png")
                            h4 Responsive REady
                            p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.
                        .feat.col-12.col-sm-5.col-lg-3
                            img(src="images/u5.png")
                            h4 Modern Design
                            p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.
                        .feat.col-12.col-sm-5.col-lg-3
                            img(src="images/u4.png")
                            h4 Clean Code
                            p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.
                        .feat.col-12.col-sm-5.col-lg-3
                            img(src="images/u1.png")
                            h4 Ready to Ship
                            p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.
                        .feat.col-12.col-sm-5.col-lg-3
                            img(src="images/u3.png")
                            h4 Download for Free
                            p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.
        section.gallery
            .row.align-items-start
                .project.col-12.col-md-6.col-lg-3
                    .overtext.text-white
                        h4.uppercase Project Name
                        p User interface design
                    img(src="images/l1.png")
                .project.col-12.col-md-6.col-lg-3
                    .overtext.text-white
                        h4.uppercase Project Name
                        p User interface design
                    img(src="images/l2.png")
                .project.col-12.col-md-6.col-lg-3
                    .overtext.text-white
                        h4.uppercase Project Name
                        p User interface design
                    img(src="images/l3.png")
                .project.col-12.col-md-6.col-lg-3
                    .overtext.text-white
                        h4.uppercase Project Name
                        p User interface design
                    img(src="images/l4.png")
                .project.col-12.col-md-6.col-lg-3
                    .overtext.text-white
                        h4.uppercase Project Name
                        p User interface design
                    img(src="images/l5.png")
                .project.col-12.col-md-6.col-lg-3
                    .overtext.text-white
                        h4.uppercase Project Name
                        p User interface design
                    img(src="images/l6.png")
                .project.col-12.col-md-6.col-lg-3
                    .overtext.text-white
                        h4.uppercase Project Name
                        p User interface design
                    img(src="images/l7.png")
                .project.col-12.col-md-6.col-lg-3
                    .overtext.text-white
                        h4.uppercase Project Name
                        p User interface design
                    img(src="images/l8.png")
        section.testmonials
            .container
                .row.justify-between
                    .person.col-12.col-sm-6.col-lg-3
                        img(src="images/r_1.png")
                        h4 Ruth Woods
                        span.uppercase.text-red Founder.ceo
                        p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.
                        .links
                            a(href="#")
                                i.fab.fa-facebook-f
                            a(href="#")
                                i.fab.fa-twitter
                            a(href="#")
                                i.fab.fa-linkedin
                    .person.col-12.col-sm-6.col-lg-3
                        img(src="images/r_2.png")
                        h4 Timothy Reed
                        span.uppercase.text-red Co-Founder, Developer
                        p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.
                        .links
                            a(href="#")
                                i.fab.fa-facebook-f
                            a(href="#")
                                i.fab.fa-twitter
                            a(href="#")
                                i.fab.fa-linkedin
                    .person.col-12.col-sm-6.col-lg-3
                        img(src="images/r_3.png")
                        h4 Victoria Valdez
                        span.uppercase.text-red Data Scientist
                        p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.
                        .links
                            a(href="#")
                                i.fab.fa-facebook-f
                            a(href="#")
                                i.fab.fa-twitter
                            a(href="#")
                                i.fab.fa-linkedin
                    .person.col-12.col-sm-6.col-lg-3
                        img(src="images/r_4.png")
                        h4 Victoria Valdez
                        span.uppercase.text-red Data Scientist
                        p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.
                        .links
                            a(href="#")
                                i.fab.fa-facebook-f
                            a(href="#")
                                i.fab.fa-twitter
                            a(href="#")
                                i.fab.fa-linkedin
        section.slider
            .content
                .photo
                    img(src="images/n.png")
                .text
                    p “Integer posuere erat a ante  venenatis dapibus posuere velit aliquet. Donec sed odio dui. Aenean eu leo quam...”
                    span Susan Sims, Interaction Designer at XYZ
        section.download
            .container
                h3 Are You Ready to Start? Download Now For Free!
                p Fusce dapibus, tellus ac cursus commodo
                button.btn.btn-red Download here
        footer
            .banner
                .container 
                    .row.justify-evenly
                        .col-12.col-md-5.col-lg-3
                            h4 Location
                            p 3481 Melrose Place <br> Beverly Hills, CA 90210
                        .share.col-12.col-md-5.col-lg-3
                            h4 Share with love
                            .links
                                a(href="#")
                                    i.fab.fa-facebook-f
                                a(href="#")
                                    i.fab.fa-twitter
                                a(href="#")
                                    i.fab.fa-linkedin
                        .col-12.col-md-5.col-lg-3
                            h4 About ActiveBox
                            p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla.
            p Copyright © 2021 ActiveBox. All Rights Reserved Made with dev.Habib Gamal designed by Kamal Chaneman
        script(src="js/jQuery.js")  
        script(src="js/propper.js")  
        script(src="js/bootstrap.min.js")  
        script(src="js/all.js")  
        script(src="js/main.js")